<!DOCTYPE html>
<html>
  <head>
    <title>narrua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" href="../assets/stylesheets/application.css" />
    <script src="../assets/javascripts/application.js"></script>
  </head>
  <body>
    <div id="fixed-container">
      <div id="menu">
        <div id="menu-bar">
          <div id="menu-button">
            <a href="#" id="menu-button-a" class="unactive" onclick="showOrHideMenu();return false;"><span class="icon-menu"></span></a>
          </div>
        </div>
        <ul id="menu-list" class="closed">
          <li class="menu-item"><a href="#"><div class="menu-item-label">Hoje</div></a></li>
          <li class="menu-item"><a href="#"><div class="menu-item-label">Em até 1 semana</div></a></li>
          <li class="menu-item"><a href="#"><div class="menu-item-label">Em até 1 mês</div></a></li>
          <li class="menu-item"><a href="#"><div class="menu-item-label">Colaborar</div></a></li>
          <li class="menu-item"><a href="#"><div class="menu-item-label">Sobre</div></a></li>
        </ul>
      </div>
    </div>
    <div id="page-start">
    </div>
    <div id="container">
      <div class="text">
        Seja um colaborador! Logue-se com o Facebook e pronto!
        <br/>
        <br/>
        <a href="#"><span class="icon-facebook2"></span></a>
      </div>
    </div>
  </body>
</html>