/* begin font sizes */
$font-smallest: 13px;
$font-small: 15px;
$font-regular-small: 17px;
$font-regular: 19px;
$font-regular-big: 21px;
$font-big: 23px;
$font-biggest: 25px;
/* end font sizes */

/* begin colors */
$darkest-grey: #202020;
$dark-grey: #404040;
$regular-grey: #b5b5b5;
$light-grey: #d1d1d1;
$lighter-grey: #f0f0f0;
/* end colors */

/* begin easy access variables */
$width: 550px;
$header-height: 80px;
$background-color: $darkest-grey;
$menu-background-color: $light-grey;
$menu-color: $darkest-grey;
$color: #d7af72;
/* end easy access variables */

/* begin fonts */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../assets/fonts/RobotoCondensed-Regular.ttf')
}

@font-face {
    font-family: 'icomoon';
    src:    url('../../assets/fonts/icomoon.eot');
    src:    url('../../assets/fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('../../assets/fonts/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon.woff') format('woff'),
        url('../../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
    content: "\e900";
}
.icon-user:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
.icon-facebook2:before {
    content: "\e903";
}
/* end fonts */

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed';
  background-color: $background-color;
  color: $color;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#fixed-container {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header-height;
  background-color: $menu-background-color;
  #menu {
    height: $header-height;
    margin: auto;
    width: $width;
    #menu-bar {
      line-height: $header-height;
      #menu-button {
        height: $header-height;
        float: right;
        #menu-button-a {
          text-decoration: none;
          font-size: $header-height / 2;
          margin: 0 10px 0 0;
        }
      }
    }
    #menu-list {
      margin: 2px 10px 0 0;
      clear: both;
      float: right;
      width: 40%;
      overflow: hidden;
      // -webkit-transition: max-height 0.2s ease-in-out;
      // -moz-transition: max-height 0.2s ease-in-out;
      // -o-transition: max-height 0.2s ease-in-out;
      // transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      .menu-item {
        line-height: $header-height / 1.5;
        font-size: $font-regular;
        text-align: right;
        background-color: $menu-background-color;
        border: 2px solid $background-color;
        a {
          width: 100%;
          color: $menu-color;
          text-decoration: none;
          border-bottom: 1px solid $menu-color;
          margin: 0 10px 0 0;
        }
        a:hover {
          border-bottom: none;
        }
      }
    }
  }
}

#page-start {
  height: $header-height;
}

.closed {
  opacity: 0;
  height: auto;
  // opacity: 1;
  // max-height: 0px;
}

.opened {
  opacity: 1;
  height: auto;
  // opacity: 1;
  // max-height: 100px;
}

.active {
  color: $color;
}

.unactive {
  color: $dark-grey;
}

#container {
  width: $width;
  margin: auto;
  #events {
    .event {
      width: 100%;
      text-align: center;
      border-top: 1px solid rgba(255,255,255,0.08);
      border-bottom: 1px solid rgba(0,0,0,0.5);
      padding-top: 0.7em;
      padding-bottom: 1.0em;
      .name {
        font-size: $font-biggest;
        line-height: 1.4em;
      }
      .place-location {
        font-size: $font-regular;
        line-height: 1.4em;
      }
    }
    .event:first-child {
      border-top: none;
    }
    .event:last-child {
      border-bottom: none;
    }
  }
}

